# Data Bootcamp "Learning Experience"   

NYU Stern School of Business | March 2017

Please answer the questions below in this Jupyter notebook.  Add cells as needed.  When you're done, **save it** and **upload** it to NYU Classes under the **Assignments** tab. Make sure you have the correct file.  **Doing this correctly is worth 10 points.**  

This Jupyter notebook was created by Chase Coleman and Spencer Lyon for the NYU Stern course [Data Bootcamp](http://databootcamp.nyuecon.com/).

## Import packages   

Run this code.

In [1]:
# import packages 
import pandas as pd                   # data management
import matplotlib.pyplot as plt       # graphics 
import datetime as dt                 # check today's date 
import sys                            # check Python version 

# IPython command, puts plots in notebook 
%matplotlib inline

print('Today is', dt.date.today())
print('Python version:\n', sys.version, sep='')

Today is 2017-03-07
Python version:
3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  2 2016, 17:53:06)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

## Question 0

<!-- This question is so we can grade the exams, but also tests basic skills in working with notebooks -->

* Change the file name by adding `_YourLastName` to it in the textbox at the top.  
* Add a markdown cell directly *below* this one that includes your name in bold, your student number, and your email address.  

(10 points)

**My Name**

Student number: N1234567

email address: me@domain.com

## Question 1

<!-- This question is about tooling basics and markdown formatting -->

For each of the parts below, please create a new markdown cell that contains your answer. Each markdown cell should have a heading that looks like  `### Part X` , where `X` is the part label (a, b, c, or d).

(a) What type of document is this exam written in?

(b) If you have questions about how to do something in Python, what resources do you have to find an answer? Please give at least 3 and put them in a bullet point list.

(c) Where can you find the course website and book? Give your answer by creating two links with the text `website` and `book` so that when the links are clicked the browswer goes to the proper website.

(d) (challenging) What syntax do you use to create spyder code cells in a python file? Make your answer appear like python code. (Hint 1: the answer should contain ` ```python `, a blank line, your code, and ` ``` `) (Hint 2: if Hint 1 wasn't clear, look at the text in question 4 part b)

(20 points)

### Part a

Jupyter notebook

### Part b

- Google
- Ask a friend
- Ask the teacher
- Book
- tab completion
- `func_name?`
- Homeworks
- Notebooks for lectures
- mailing list

### Part c

The course website is [here](http://databootcamp.nyuecon.com)

The book is [here](https://www.gitbook.com/book/nyudatabootcamp/data-bootcamp/details)

### Part d

```python

#%% -- start of a code cell

```

## Question 2

<!-- This question should be about string methods -->

Consider the following string

```python
my_string = "Thi* i* a *tring"
```

Using string methods, do the following and print the results:

**Warning**: Do not save the results back into `my_string` -- You should be using the original `my_string = "Thi* i* a *tring*` for each of the following parts. Recall that string methods are "making copies" so it won't modify the original string unless you assign it back to `my_string`

(a) Make all letters in `my_string` uppercase.

(b) Remove all spaces from `my_string`.

(c) Replace each of the `*`s with an `s` in `my_string`.

(d) What does `my_string.split()` look like? What do you think happened and what type is this?

(20 points)

In [ ]:
my_string = "Thi* i* a *tring"

In [ ]:
# part a
print(my_string.upper())

# part b
print(my_string.replace(" ", ""))

# part c
print(my_string.replace("*", "s"))

# part d. `split()` will split the string at every
# "whitespace" (space, tab, new line) and return the
# parts in a list
print(my_string.split())

## Question 3

<!-- This question tests idea of loops + list comprehensions -->

(a) What is the type of `range(5)`? What is the type of `list(range(5))`?

(b) Write a loop that sums all of the numbers from 0 to (not including) 100. Print the final sum.

(c) Starting with the list `nums = [0, 1, 2, 3, 4, 5]` create a new list that has the numbers `[0, 10, 20, 30, 40, 50]` using a loop or list comprehension.

(15 points)

In [ ]:
type(range(5))

In [ ]:
type(list(range(5)))

In [ ]:
total = 0
for i in range(100):
    total = total + i

print(total)

In [ ]:
nums = [0, 1, 2, 3, 4, 5]
[i*10 for i in nums]

## Question 4

<!-- This question is about defining functions, conditionals, and types --> 

(a) `def`ine your own function named `mymessage` that does the following:

- Takes one argument named `x`
- If `x` is a string, list, or tuple; print the length of x and x
- For all other cases, print a message showing the type of `x` and `x`

Hint: You will need to understand what the word `or` does. Think about what the following code is doing:

```python
print(True or False)
print(True or True)
print(False or False or False)
print(False or False or True)
```

(10 points)

In [ ]:
def mymessage(x):
    if type(x) == list or type(x) == tuple or type(x) == str:
        print("The length of x is", len(x), "and x is", x)
    else:
        print("The type of x is", type(x), "and x is" , x)

(b) In the code block below you will find expressions that define variables `b1`, `b2`, `b3`, `b4`, and `b5`. 

```python
b1 = 2*3
b2 = 2.0*3
b3 = 'Dave Backus'
b4 = ['This', "is", 'not', "a", 'string']
b5 = (b4[0], b4[2], b4[4])
```

For each of these cases apply your your function and verify that the output follows the instructions given in part (a).

(10 points)

In [ ]:
b1 = 2*3
b2 = 2.0*3
b3 = 'Dave Backus'
b4 = ['This', "is", 'not', "a", 'string']
b5 = (b4[0], b4[2], b4[4])

In [ ]:
mymessage(b1)

In [ ]:
mymessage(b2)

In [ ]:
mymessage(b3)

In [ ]:
mymessage(b4)

In [ ]:
mymessage(b5)

## Question 5

<!-- This question is about defining multiple argument functions, defining functions that return something, debugging -->

(a) `def`ine another function named `foo` that does the following:

- Takes two arguments `x` and `n`
- Returns the first `n` elements of `x`

(10 points)

In [ ]:
def foo(x, n):
    return x[:n]

(b) Apply this function to the variables `b1`-`b5` above (where `x` is `b1`, then `x` is `b2`, ..., then `x` is `b5`) and `n` is always 2. If Python raises an error, please do your best to explain what the error means

(10 points)

In [ ]:
# The error here is because you can't "index into" an integer

foo(b1, 2)

In [ ]:
# The error here is because you can't "index into" a float
foo(b2, 2)

In [ ]:
foo(b3, 2)

In [ ]:
foo(b4, 2)

In [ ]:
foo(b5, 2)

(c) (Challenging) In words, explain what happens when you call `foo(b3, -2)`

(5 points)

In [ ]:
foo(b3, -2)

### Part c

Calling `foo(b3, -2)` is like writing `"Dave Backus"[:-2]`. The `:-2` instructs Python to start at the beginning of the string and go all the way up to the second to last character of the string, resulting in `"Dave Back"`

## Question 6

<!-- This question covers DataFrame basics -->

Consider the python code below

```python
poke_dict = {
 'Name': {1: 'Bulbasaur',
          2: 'Ivysaur',
          3: 'Venusaur',
          4: 'Charmander',
          5: 'Charmeleon',
          6: 'Charizard',
          7: 'Squirtle',
          8: 'Wartortle',
          9: 'Blastoise'},
 'Attack': {1: 49, 2: 62, 3: 82, 4: 52, 5: 64, 6: 84, 7: 48, 8: 63, 9: 83},
 'Defense': {1: 49, 2: 63, 3: 83, 4: 43, 5: 58, 6: 78, 7: 65, 8: 80, 9: 100},
 'HP': {1: 45, 2: 60, 3: 80, 4: 39, 5: 58, 6: 78, 7: 44, 8: 59, 9: 79},
 'Sp. Atk': {1: 65, 2: 80, 3: 100, 4: 60, 5: 80, 6: 109, 7: 50, 8: 65, 9: 85},
 'Sp. Def': {1: 65, 2: 80, 3: 100, 4: 50, 5: 65, 6: 85, 7: 64, 8: 80, 9: 105},
 'Speed': {1: 45, 2: 60, 3: 80, 4: 65, 5: 80, 6: 100, 7: 43, 8: 58, 9: 78}
}
```

Please answer the questions below, giving each part its own code cell:

(a) Copy and paste the definition of `poke_dict` above into a code cell below and run it. What is the `type` of `poke_dict`?

(b) Run the code `pokemon = pd.DataFrame(poke_dict)`. What type of object is `pokemon`?

(c) How many rows and columns does `pokemon` have?

(d) What are the column names in `pokemon`?

(3) What are the dtypes for the columns? For each different dtype in `pokemon`, please describe what that dtype means (Hint: There are two dtypes)

(f) Describe the results of the following code `squirt = pokemon.tail(3)`. What type of object is `squirt`? How does `squirt` relate to `pokemon`?

(30 points)

In [10]:
# part a
poke_dict = {
 'Name': {1: 'Bulbasaur',
          2: 'Ivysaur',
          3: 'Venusaur',
          4: 'Charmander',
          5: 'Charmeleon',
          6: 'Charizard',
          7: 'Squirtle',
          8: 'Wartortle',
          9: 'Blastoise'},
 'Attack': {1: 49, 2: 62, 3: 82, 4: 52, 5: 64, 6: 84, 7: 48, 8: 63, 9: 83},
 'Defense': {1: 49, 2: 63, 3: 83, 4: 43, 5: 58, 6: 78, 7: 65, 8: 80, 9: 100},
 'HP': {1: 45, 2: 60, 3: 80, 4: 39, 5: 58, 6: 78, 7: 44, 8: 59, 9: 79},
 'Sp. Atk': {1: 65, 2: 80, 3: 100, 4: 60, 5: 80, 6: 109, 7: 50, 8: 65, 9: 85},
 'Sp. Def': {1: 65, 2: 80, 3: 100, 4: 50, 5: 65, 6: 85, 7: 64, 8: 80, 9: 105},
 'Speed': {1: 45, 2: 60, 3: 80, 4: 65, 5: 80, 6: 100, 7: 43, 8: 58, 9: 78}
}

type(poke_dict)

dict

In [11]:
# part b
pokemon = pd.DataFrame(poke_dict)
type(poke_dict)

dict

In [12]:
# part c
pokemon.shape

(9, 7)

In [13]:
# part d
pokemon.columns

# or pokemon.columns.tolist()
# or list(pokemon)

Index(['Attack', 'Defense', 'HP', 'Name', 'Sp. Atk', 'Sp. Def', 'Speed'], dtype='object')

In [14]:
# part e
pokemon.dtypes

# object is how pandas represents anything that isn't a number -- in this case string
# int64 is an integer

Attack      int64
Defense     int64
HP          int64
Name       object
Sp. Atk     int64
Sp. Def     int64
Speed       int64
dtype: object

In [15]:
# part f
squirt = pokemon.tail(3)

# df.tail(n) returns a dataframe with the last `n` rows of df.
# thus, squirt is the last 3 rows of pokemon

## Question 7

<!-- This question should test the students ability to access/create columns in the DataFrame -->

Please answer the questions below, giving each part its own code cell:

(a) Set the index to be the `Name` column. Make sure to save the result as `pokemon` for the following questions

(b) Compute the mean of the `Speed` column.

(c) Create a new column named `Balance` that is the ratio of the `Attack / (HP + Defense)`

(d) Create a horizontal bar plot of the `Balance` column

(20 points)

In [16]:
# part a
pokemon = pokemon.set_index("Name")

In [17]:
pokemon

            Attack  Defense  HP  Sp. Atk  Sp. Def  Speed
Name
Bulbasaur       49       49  45       65       65     45
Ivysaur         62       63  60       80       80     60
Venusaur        82       83  80      100      100     80
Charmander      52       43  39       60       50     65
Charmeleon      64       58  58       80       65     80
Charizard       84       78  78      109       85    100
Squirtle        48       65  44       50       64     43
Wartortle       63       80  59       65       80     58
Blastoise       83      100  79       85      105     78

In [ ]:
# part b
pokemon["Speed"].mean()

In [ ]:
# part c
pokemon["Balance"] = pokemon["Attack"] / (pokemon["HP"] + pokemon["Speed"])

In [ ]:
# part d
pokemon["Balance"].plot(kind="barh")

## Question 8

<!-- This question should be about customizing a plot -->

Please do all parts below in _the same_ code cell. Leave comments in the code that help us find the code that corresponds to each part

(a) Create a figure with two rows and one column of axes

(b) In the top axes, make a pie chart of using the `Sp. Atk` column. Turn the legend off

(c) In the bottom axes, make a bar chart using the `Sp. Def` column. Make the bars orange and turn the legend off

(d) Set the title on the top axes to be "Special abilities"

(e) (bonus) Apply any other customizations you think would make the plot look better

(20 points + 5 bonus)

In [ ]:
# part a
fig, ax = plt.subplots(2, 1)

# part b
pokemon.plot.pie(ax=ax[0], y="Sp. Atk", legend=False)

# part c
pokemon.plot.bar(ax=ax[1], y="Sp. Def", legend=False, color="orange")

# part d
ax[0].set_title("Special abilities")

# part e
ax[0].set_ylabel("")